<div class="navbar-wagon-fixed">
<!-- Logo -->
  <%= link_to root_path, class: "logo" do %>
    <%= image_tag "mb_logo_2.jpg" %>
  <% end %>
  <div class="content">
<!-- Right Navigation -->
    <div class="web-browsing hidden-xs hidden-sm hidden-md">
      <%= link_to "Label", pages_label_path, {class: "navbar-item navbar-wagon-link"}%>
      <%= link_to "Artists", artists_path, {class: "navbar-item navbar-wagon-link"} %>
      <%= link_to "Releases", releases_path, class: "navbar-item navbar-wagon-link" %>
      <%= link_to "Shop", shops_path, class: "navbar-item navbar-wagon-link" %>
      <%= link_to "News", actus_path, class: "navbar-item navbar-wagon-link" %>

    </div>
  </div>
  <div class="networks">
    <div class="links hidden-xs hidden-sm hidden-md">
      <a href="https://www.facebook.com/modernboxrecords/?ref=br_rs"><i class="fa fa-facebook networks-item" aria-hidden="true"></i>
      <a href="https://www.instagram.com/modernboxrecords/"><i class="fa fa-instagram networks-item" aria-hidden="true"></i>
      <a href="https://www.youtube.com/channel/UCD-V4n6eugETPlfr16DqM_Q?view_as=subscriber"><i class="fa fa-youtube networks-item" aria-hidden="true"></i>
      <a href="https://soundcloud.com/modern-box"><i class="fa fa-soundcloud networks-item" aria-hidden="true"></i>
      <a href="https://twitter.com/Modern_box_rec"><i class="fa fa-twitter networks-item" aria-hidden="true"></i>
      <!-- Avatar with dropdown menu -->
      <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
    <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-item hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>


